#imgFoto{
	width: 80%;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 15px grey;
	background-color: white;
	padding: 5px;
	display: block;
	margin: 0 auto;
}

.white-text{
	padding: 10px;
}

.black-text{
	padding: 10px;
}

.imgCaveira{
	width: 20%;
	padding: 5px;
	display: block;
	margin: 0 auto;
}
#conteudo{
	background-color: #1793A6;
}
.textoDados{
	text-align: center;
	margin-top: 0px;
	height: 35px;
	margin-bottom: 0px;
}
#textoSobre{
	margin-top: 0px;
	padding: 5px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 0px 0px 20px 20px;
	margin-bottom: 0px;
}

.lingLogo{
	width: 100%;
	height: 300px;
	display: block;
	margin: 0 auto;
}

.lingLogo:hover .logo{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.textoLogos{
	opacity: 0;
}

.lingLogo:hover .textoLogos{
	opacity: 1;
	transition: .3s ease-in-out;
}


.dados{
	margin: 5px;
	padding: 10px;
	background-color: white;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 15px grey;
}


.informacaoBox{
	background-color: white;
	 padding:10px;
	 border-radius: 20px 20px;
	 box-shadow: 0px 0px 10px gray;
	 margin-top: 20px;
}


#ultimo{
	height: 200px;
}

.row{
	margin-bottom: 0px !important;
}

#nav-small{
	margin-top: 0px;
}

#nav-mobile{
		background-color: white;
	}

#rodape2{
	background-color: white;
	margin-bottom: 0px;
}

@media screen and (min-width:320px) and (max-width: 600px ) {
	.parallax{
		margin-top: 50px;
	}
}
@media screen and (min-width:600px) and (max-width: 700px ) {
	.parallax{
		margin-top: 0px;
	}
}

@media screen and (min-width:701px) and (max-width: 992px ) {
	.parallax{
		margin-top: 50px;
	}
}

@media screen and (min-width:993px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {

}


#foto1{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario1 {
 	 position:relative;
 	 text-align: center;
	 padding:2px;
	 line-height:20px;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
}

#foto1:hover  #comentario1{
      opacity: 1;
}
#foto2{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario2 {
 	 position:relative;
 	 text-align: center;
	 padding:2px;
	 line-height:20px;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
}

#foto2:hover  #comentario2{
      opacity: 1;
}
#foto3{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario3 {
 	 position:relative;
 	 text-align: center;
	 padding:2px;
	 line-height:20px;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
}

#foto3:hover  #comentario3{
      opacity: 1;
}
#foto4{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario4 {
 	 position:relative;
 	 text-align: center;
	 padding:2px;
	 line-height:20px;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
}

#foto4:hover  #comentario4{
      opacity: 1;
}