 @font-face { font-family: Padrao; src: url('Poppins-Medium.tff'); } 

#imgFoto{
	width: 80%;
	border-radius: 20px 20px;
	box-shadow: 0px 0px 15px grey;
	background-color: white;
	padding: 5px;
	display: block;
	margin: 0 auto;
}

.white-text{
	padding: 10px;
}

.black-text{
	padding: 10px;
}

.imgCaveira{
	width: 20%;
	padding: 5px;
	display: block;
	margin: 0 auto;
}
#conteudo{
	background-color: #1793A6;
}
.textoDados{
	text-align: center;
	margin-top: 0px;
	height: 35px;
	margin-bottom: 0px;
	font-family: Padrao;
}
#textoSobre{
	margin-top: 0px;
	padding: 5px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: 0px 0px 20px 20px;
	margin-bottom: 0px;
	font-family: Padrao;
}

.lingLogo{
	width: 100%;
	height: 300px;
	display: block;
	margin: 0 auto;
}

.lingLogo:hover .logo{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.textoLogos{
	opacity: 0;
	font-family: Padrao;
}

.lingLogo:hover .textoLogos{
	opacity: 1;
	transition: .3s ease-in-out;
}


.dados{
	margin: 5px;
	padding: 10px;
	background-color: white;
	border-radius: 20px 20px;
	font-family: Padrao;
	box-shadow: 0px 0px 15px grey;
}


.informacaoBox{
	background-color: white;
	 padding:10px;
	 border-radius: 20px 20px;
	 box-shadow: 0px 0px 10px gray;
	 margin-top: 20px;
}


#ultimo{
	height: 200px;
}

.row{
	margin-bottom: 0px !important;
}

#nav-small{
	margin-top: 0px;
}

#nav-mobile{
		background-color: white;
	}

#rodape2{
	background-color: white;
	margin-bottom: 0px;
}

@media screen and (min-width:320px) and (max-width: 600px ) {
	.parallax{
		margin-top: 50px;
	}
}
@media screen and (min-width:600px) and (max-width: 700px ) {
	.parallax{
		margin-top: 0px;
	}
}

@media screen and (min-width:701px) and (max-width: 992px ) {
	.parallax{
		margin-top: 50px;
	}
}

@media screen and (min-width:993px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {

}


#foto1{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario1 {
 	 position:relative;
 	 font-family: Padrao;
 	 text-align: center;
	 padding:2px;
	 line-height:20px;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
}

#foto1:hover  #comentario1{
      opacity: 1;
}
#foto2{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario2 {
 	 position:relative;
 	 text-align: center;
	 padding:2px;
	 font-family: Padrao;
	 line-height:20px;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
}

#foto2:hover  #comentario2{
      opacity: 1;
}
#foto3{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario3 {
 	 position:relative;
 	 text-align: center;
	 padding:2px;
	 line-height:20px;
	 font-family: Padrao;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
}

#foto3:hover  #comentario3{
      opacity: 1;
}
#foto4{
	width: 100%;
	height: 300px;
 	position: relative;
 	line-height:0px;
}
#comentario4 {
 	 position:relative;
 	 text-align: center;
	 padding:2px;
	 line-height:20px;
	 color:black;
	 opacity: 0;

	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 font-family: Padrao;
	 transition: all 300ms ease;
}

#foto4:hover  #comentario4{
      opacity: 1;
}

.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.img-circle{
	width:100%; 
	border-radius: 100px 100px;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}